*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-image: url(https://th.bing.com/th/id/OIG4.FbHujTxZaof2IppnUaVS?pid=ImgGn);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #5914c9e1;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 50px;
    width: 75%;
    margin: auto;
}

h2 {
    color: #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    background-color: #ebeaea21;
    border: 1px solid #5c1366;
    padding: 20px;
    text-align: left;
}

figure {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

img {
    width: 200px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 8px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}


footer {
    background-color: #000000a8;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
.cta-button{
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.589);
    color: rgb(253, 253, 253);
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  box-shadow: 0px 4px 6px rgb(248, 248, 248);
 }  